{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
<section class='index'>
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.pseudoContact }}</td>
                <td>{{ contact.emailContact }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
{% endblock %}
